{{>licenseInfo}}
{{#models}}
{{#model}}
{{#tsImports}}
// prettier-ignore
// @ts-ignore
import { {{classname}}, removeAdditionalPropertiesFrom{{classname}}, removeAdditionalPropertiesFromPartial{{classname}}, getValidationErrors{{classname}} } from '{{filename}}';
{{/tsImports}}
// prettier-ignore
// @ts-ignore
import { isArray, getValidationErrorsArray, getValidationErrorsboolean, getValidationErrorsnumber, getValidationErrorsstring } from '../../primitive-types-checks';
import { FieldValidationError } from '../../validation-errors';

{{#description}}
/**
 * {{{description}}}
 */
{{/description}}
{{#isEnum}}{{>modelEnum}}{{/isEnum}}{{^isEnum}}{{#isAlias}}{{>modelAlias}}{{/isAlias}}{{^isAlias}}{{#taggedUnions}}{{>modelTaggedUnion}}{{/taggedUnions}}{{^taggedUnions}}{{#oneOf}}{{#-first}}{{>modelOneOf}}{{/-first}}{{/oneOf}}{{^oneOf}}{{>modelGeneric}}{{/oneOf}}{{/taggedUnions}}{{/isAlias}}{{/isEnum}}
{{/model}}
{{/models}}
